/* #hadoc(f286c1a79615597b) #css starts */
.headerh222fa673a781ab9e .fa-shopping-cart{
    color: #FC8375;
    font-size: 22px
}
.headerh222fa673a781ab9e .fa-user-plus{
    color: #AD6CF5;
    font-size: 22px
}
.headerh222fa673a781ab9e .btn{
    font-weight: bold
}
/* #hadoc(f286c1a79615597b) #css ends */

/* #agni(cded716dce36a6e8) #css starts  */
.aboutcded716dce36a6e8 .DescriptionHeading {
    font-size: 50px
}

.aboutcded716dce36a6e8 .DescriptionPara {
    color: #808080;
    font-size: 18px
}

.aboutcded716dce36a6e8 .descriptionImage img{
    height: 400px;
    width: 500px
}
.aboutcded716dce36a6e8 .badge{
    color: #FF705E;
    background-color: #F5F0F7
}
.aboutcded716dce36a6e8 .searchBtn{
    background-color:#FF705E ;
    border-radius: 15px;
    color: white
}
/* #agni(cded716dce36a6e8) #css ends  */

/* #ben(f4d36302323992b2) #css starts  */
.bannerf4d36302323992b2 .button {
        background-color: blueviolet;
        color: wheat
    }

.bannerf4d36302323992b2 .button:hover {
        color: wheat
    }
/* #ben(f4d36302323992b2) #css ends  */

/* #pencil(p48b0eae471185cc5) #css starts  */
.productsp48b0eae471185cc5 .imgStyle{
    border: 1px solid rgb(224, 200, 200); 
    padding: 20px;
    height: 600px;
    width:1000px;
    border-radius: 25px
}
.productsp48b0eae471185cc5 .card-product .img-wrap {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        position: relative;
        text-align: center
}

.productsp48b0eae471185cc5 .card-product .img-wrap img {
        height: 100px;
        width: 100px
}

.productsp48b0eae471185cc5 .title {
        color: #33CCCC
}

.productsp48b0eae471185cc5 .card-product .info-wrap {
        overflow: hidden;
        padding: 15px
}

/* #pencil(p48b0eae471185cc5) #css ends  */

/* #quil(e6e365dd6b7c935a) #css starts  */
.quickLinke6e365dd6b7c935a .btn{
    font-weight: bold;
    margin: 11px
}
.quickLinke6e365dd6b7c935a .btn:hover{
    background-color: #FF6652;
    color: rgb(255, 255, 255)
}
.quickLinke6e365dd6b7c935a .hp{
 color: #130D43
}
/* #quil(e6e365dd6b7c935a) #css ends  */

    /* #pony(fd232222df02a491) #css starts  */
    .productsfd232222df02a491 .card-product .img-wrap {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        position: relative;
        height: 220px;
        text-align: center
    }

    .productsfd232222df02a491 .card-product .img-wrap img {
        height: 200px;
        width: 200px
    }

    .productsfd232222df02a491 .title {
        color: #33CCCC
    }

    .productsfd232222df02a491 .card-product .info-wrap {
        overflow: hidden;
        padding: 15px
    }

    .productsfd232222df02a491 .buttons {
        text-align: center;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn {
        z-index: 1;
        position: relative;
        padding: 20px 46px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        outline: none;
        border: none;
        transition: color 0.5s;
        cursor: pointer;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn:before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #33CCCC;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn:after {
        content: "";
        z-index: -2;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 100%;
        height: 100%;
        transition: all 0.3s 0.2s;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn:hover {
        color: #fff;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn:hover:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn__inner {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background: #fff
    }

    .productsfd232222df02a491 .blob-btn__blobs {
        position: relative;
        display: block;
        height: 100%;
        filter: url('#goo')
    }

    .productsfd232222df02a491 .blob-btn__blob {
        position: absolute;
        top: 2px;
        width: 25%;
        height: 100%;
        background: #33CCCC;
        border-radius: 100%;
        transform: translate3d(0, 150%, 0) scale(1.7);
        transition: transform 0.45s
    }

    @supports (filter: url('#goo')) {
        transform: translate3d(0, 150%, 0) scale(1.4)
    }

    .productsfd232222df02a491 .blob-btn__blob:nth-child(1) {
        left: 0%;
        transition-delay: 0s
    }

    .productsfd232222df02a491 .blob-btn__blob:nth-child(2) {
        left: 30%;
        transition-delay: 0.08s
    }

    .productsfd232222df02a491 .blob-btn__blob:nth-child(3) {
        left: 60%;
        transition-delay: 0.16s
    }

    .productsfd232222df02a491 .blob-btn__blob:nth-child(4) {
        left: 90%;
        transition-delay: 0.24s
    }

    .productsfd232222df02a491 .blob-btn:hover .blob-btn__blob {
        transform: translateZ(0) scale(1.7)
    }

    @supports (filter: url('#goo')) {
        transform: translateZ(0) scale(1.4)
    }

    /* #pony(fd232222df02a491) #css ends  */

/* #abbu(p3dce575962b3c369) #css starts  */
.aboutp3dce575962b3c369 .jumbotron{
    border-radius: 13px
}
.aboutp3dce575962b3c369 .DescriptionHeading {
        font-size: 40px;
        color: #0A033C
    }

    .aboutp3dce575962b3c369 .DescriptionPara {
        color: #0A033C;
        font-size: 18px
    }
    
    .aboutp3dce575962b3c369 .descriptionImage img{
        height: 400px;
        width: 500px
    }
    .aboutp3dce575962b3c369 .badge{
        color: #A560F4;
        background-color: #F5F0F7
    }
    .aboutp3dce575962b3c369 .searchBtn{
        background-color:#FF705E ;
        border-radius: 10px;
        color: white;
        font-weight: bold
    }
/* #abbu(p3dce575962b3c369) #css ends  */

/* #agadu(bf5e9e9e7ee746db) #css starts  */
.aboutbf5e9e9e7ee746db .DescriptionHeading {
    font-size: 34px;
    color: #0A033C
}

.aboutbf5e9e9e7ee746db .DescriptionPara {
    color: #0A033C;
    font-size: 18px
}

.aboutbf5e9e9e7ee746db .descriptionImage img{
    height: 400px;
    width: 500px
}
.aboutbf5e9e9e7ee746db .searchBtn{
    background-color:#A560F4 ;
    border-radius: 7px;
    color: white;
    font-weight: bold
}
/* #agadu(bf5e9e9e7ee746db) #css ends  */